/* .container{
    display:flex;
    justify-content: center;
} */



/* .col-sm-3{
    padding: 50px;
    margin-right:60px;
}

.col-lg-4{
    padding: 50px;
    color:green;
    margin-right:120px;
} */



