/* CSS file for main styling */
* {
    font-family: sans-serif;
  } 
table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  td, th {
    border-bottom: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color:aqua;
  }